<p>
  <b>Idpart:</b>
  <%=h @participant.idpart %>
</p>

<p>
  <b>Mat:</b>
  <%=h @participant.mat %>
</p>

<p>
  <b>Nom:</b>
  <%=h @participant.nom %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>