<!--#Archivo: new.html.erb
#Proyecto: Aplicación Móvil para plataforma Android Training Assistant
#Autor(es): Andrés Rocha González
#Fecha de creación: 04/Marzo/2013
#Fecha de última actualización: 05/Marzo/2013
#Descripción general: Documento para el html de agregar inscrito
#Nombre de la institución para cuando el código es propietario. Todos los derechos reservados.
#This file is part of Aplicación Móvil para plataforma Android Training Assistant.
#Aplicación Móvil para plataforma Android Training Assistant is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.

# Aplicación Móvil para plataforma Android Training Assistant
# is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Aplicación Móvil para plataforma Android Training Assistant.
# If not, see <http://www.gnu.org/licenses/>.-->

<h1>New inscrito</h1>

<% form_for(@inscrito) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :idpart_id %><br />
    <%= f.collection_select :idpart_id, Participant.all, :idpart,  :idpart %>
    
  </p>
  <p>
    <%= f.label :idconcurso_id %><br />
    <%= f.collection_select :idconcurso_id, Concurso.all, :idconcurso,  :idconcurso %>
    
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', inscritos_path %>