<!--
  #Archivo: show.html.erb
 #Proyecto: Aplicación Móvil para plataforma Android Training Assistant
 #Autor(es): Andrés Rocha González
 # Fecha de creación: 27/Marzo/2013
 #Fecha de última actualización: 27/Marzo/2013
 #Descripción general: pantalla mostrar un problema resuelto
 #ITESM de Monterrey. Todos los derechos reservados.
 #This file is part of Aplicación Móvil para plataforma Android Training Assistant.
 #Aplicación Móvil para plataforma Android Training Assistant is free software: you can redistribute it and/or modify
 #it under the terms of the GNU General Public License as published by
 #the Free Software Foundation, either version 3 of the License, or
 #(at your option) any later version.

 # Aplicación Móvil para plataforma Android Training Assistant
 # is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.

 # You should have received a copy of the GNU General Public License
 # along with Aplicación Móvil para plataforma Android Training Assistant.
 # If not, see <http://www.gnu.org/licenses/>.*/

-->

<p>
  <b>Idsubida:</b>
  <%=h @problemaresuelto.idSubida %>
</p>

<p>
  <b>Fechasub:</b>
  <%=h @problemaresuelto.fechasub %>
</p>

<p>
  <b>Estatus:</b>
  <%=h @problemaresuelto.estatus %>
</p>

<p>
  <b>Tiempo:</b>
  <%=h @problemaresuelto.tiempo %>
</p>

<p>
  <b>Memoria:</b>
  <%=h @problemaresuelto.memoria %>
</p>

<p>
  <b>Tam:</b>
  <%=h @problemaresuelto.tam %>
</p>

<p>
  <b>Leng:</b>
  <%=h @problemaresuelto.leng %>
</p>

<p>
  <b>Idpart:</b>
  <%=h @problemaresuelto.idPart_id %>
</p>

<p>
  <b>Idprob:</b>
  <%=h @problemaresuelto.idProb_id %>
</p>


<%= link_to 'Edit', edit_problemaresuelto_path(@problemaresuelto) %> |
<%= link_to 'Back', problemaresueltos_path %>