<!--
  #Archivo: index.html.erb
 #Proyecto: Aplicación Móvil para plataforma Android Training Assistant
 #Autor(es): Andrés Rocha González
 # Fecha de creación: 27/Marzo/2013
 #Fecha de última actualización: 27/Marzo/2013
 #Descripción general: pantalla incial para una semana
 #ITESM de Monterrey. Todos los derechos reservados.
 #This file is part of Aplicación Móvil para plataforma Android Training Assistant.
 #Aplicación Móvil para plataforma Android Training Assistant is free software: you can redistribute it and/or modify
 #it under the terms of the GNU General Public License as published by
 #the Free Software Foundation, either version 3 of the License, or
 #(at your option) any later version.

 # Aplicación Móvil para plataforma Android Training Assistant
 # is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.

 # You should have received a copy of the GNU General Public License
 # along with Aplicación Móvil para plataforma Android Training Assistant.
 # If not, see <http://www.gnu.org/licenses/>.*/

-->

<h1>Lista de Semanas</h1>

<table>
  <tr>
    <th>Idsemana</th>
    <th>Fecha ini</th>
    <th>Fecha fin</th>
  </tr>

<% @semanas.each do |semana| %>
  <tr>
    <td><%=h semana.idSemana %></td>
    <td><%=h semana.fecha_ini %></td>
    <td><%=h semana.fecha_fin %></td>
    <td><%= link_to 'Show', semana %></td>
    <td><%= link_to 'Edit', edit_semana_path(semana) %></td>
    <td><%= link_to 'Destroy', semana, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New semana', new_semana_path %>
<form name="input" action="index" method="get">
		<input type="submit" value="Regresar"/>
</form>