<h1>Editing problem</h1>

<% form_for(@problem) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :idprob %><br />
    <%= f.text_field :idprob %>
  </p>
  <p>
    <%= f.label :tip %><br />
    <%= f.text_field :tip %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @problem %> |
<%= link_to 'Back', problems_path %>