<p>
  <b>Idprob:</b>
  <%=h @problem.idprob %>
</p>

<p>
  <b>Tip:</b>
  <%=h @problem.tip %>
</p>

<p>
  <b>Name:</b>
  <%=h @problem.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @problem.description %>
</p>

<p>
  <b>Value:</b>
  <%=h @problem.value %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>